.env
frontend/node_modules/
frontend/dist/
db/
log/
*.log*
__pycache__/
.vscode/launch.json
.htpasswd
.coverage

# import data we don't want in git
backend/import/data/old/
backend/import/data/*.json

# in case your python virtual environment is located in the project
backend/.venv # in case your

# ai agent tooling
.goose
.gooseignore

# macos
.DS_Store

