.env
frontend/node_modules/
frontend/dist/
db/
log/
*.log*
__pycache__/
.vscode/launch.json
backend/import/data/old/
backend/import/data/*.json
backend/mastery/imports/data/*
.htpasswd


# ai agent tooling
.goose
.gooseignore

# macos
.DS_Store

