.env
frontend/node_modules/
frontend/dist/
db/
logs/*
*.log*
__pycache__/
.vscode/launch.json
.htpasswd
.coverage

# import data we don't want in git
backend/mastery/data_import/data/*
.htpasswd

# in case your python virtual environment is located in the project
backend/.venv # in case your

# ai agent tooling
.goose
.gooseignore

# non-code files in notes
notes/*.docx
notes/*.pdf

# macos
.DS_Store

