services:
  postgres:
    image: postgres:15.3
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB_NAME}
    ports:
      - 5432:5432
    volumes:
      - postgres-data:/var/lib/postgresql/data
    profiles:
      - dev
      - prod
    healthcheck:
      test: pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB_NAME}
      interval: 10s
      timeout: 3s
      retries: 3

  adminer:
    image: adminer
    restart: always
    ports:
      - 8080:8080
    environment:
      ADMINER_DEFAULT_SERVER: postgres
    volumes:
      - ./adminer/dracula.css:/var/www/html/adminer-dark.css:ro
    depends_on:
      - postgres
    profiles:
      - dev
      - prod
    command:
      [
        'php',
        '-d',
        'post_max_size=500M',
        '-d',
        'upload_max_filesize=500M',
        '-S',
        '0.0.0.0:8080',
        '-t',
        '/var/www/html',
      ]

  backend:
    build: ./backend
    command: # Number of gunicorn workers (w) should be (2 * CPU cores) + 1
      - bash
      - -c
      - |
        python manage.py migrate
        gunicorn wsgi -b :8000 -w 9
    ports:
      - 8000:8000
    env_file:
      - ./backend/.env
    environment:
      DJANGO_DEBUG: 'False'
      DB_HOST: ${DB_HOST}
    extra_hosts:
      - 'host.docker.internal:host-gateway'
    profiles:
      - prod
    restart: always
    depends_on:
      postgres:
        condition: service_healthy
    healthcheck:
      test: ['CMD', 'curl', '-f', 'http://localhost:8000/api/ping']
      interval: 10s
      retries: 5
      timeout: 10s

  frontend:
    build: ./frontend
    ports:
      - 5000:80 # For local testing
      - 80:80
    depends_on:
      backend:
        condition: service_healthy
    volumes:
      - ./frontend/nginx:/etc/nginx/conf.d
    restart: always
    profiles:
      - prod

  taskrunner:
    build: ./backend
    command:
      - bash
      - -c
      - |
        python manage.py run_background_tasks
    volumes:
      - ./backend:/code
    env_file:
      - ./backend/.env
    environment:
      DB_HOST: ${DB_HOST}
      DJANGO_DEBUG: 'False'
      LOG_FILE: 'debug-taskrunner.log'
      DB_CONN_MAX_AGE: 0
    depends_on:
      backend:
        condition: service_healthy
    restart: always
    profiles:
      - prod
      - dev

  matomo-db:
    image: mariadb:11.3
    restart: always
    environment:
      - MYSQL_ROOT_PASSWORD=${MATOMO_DB_ROOT_PASSWORD}
      - MYSQL_DATABASE=${MATOMO_DB_NAME}
      - MYSQL_USER=${MATOMO_DB_USERNAME}
      - MYSQL_PASSWORD=${MATOMO_DB_PASSWORD}
    volumes:
      - matomo-db-data:/var/lib/mysql
    profiles:
      - prod
      - dev

  matomo:
    build: ./matomo
    restart: always
    ports:
      - 8081:80
    environment:
      - MATOMO_DATABASE_HOST=${MATOMO_DB_HOST}
      - MATOMO_DATABASE_ADAPTER=${MATOMO_DB_ADAPTER}
      - MATOMO_DATABASE_DBNAME=${MATOMO_DB_NAME}
      - MATOMO_DATABASE_TABLES_PREFIX=${MATOMO_DB_TABLES_PREFIX}
      - MATOMO_DATABASE_USERNAME=${MATOMO_DB_USERNAME}
      - MATOMO_DATABASE_PASSWORD=${MATOMO_DB_PASSWORD}
      - MATOMO_GENERAL_TRUSTED_HOSTS=mestring.osloskolen.no
      - MATOMO_GENERAL_ASSUME_SECURE_PROTOCOL=1
      - MATOMO_GENERAL_FORCE_SSL=1
    volumes:
      - matomo-data:/var/www/html
    depends_on:
      - matomo-db
    profiles:
      - prod
      - dev

volumes:
  postgres-data:
    driver: local
  matomo-db-data:
  matomo-data:
