@font-face {
  font-family: 'OsloSans';
  src: url('/fonts/OsloSans-WOFF/OsloSans-Light.woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'OsloSans';
  src: url('/fonts/OsloSans-WOFF/OsloSans-Regular.woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'OsloSans';
  src: url('/fonts/OsloSans-WOFF/OsloSans-Medium.woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'OsloSans';
  src: url('/fonts/OsloSans-WOFF/OsloSans-Bold.woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'OsloSans';
  src: url('/fonts/OsloSans-WOFF/OsloSans-LightItalic.woff');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'OsloSans';
  src: url('/fonts/OsloSans-WOFF/OsloSans-RegularItalic.woff');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'OsloSans';
  src: url('/fonts/OsloSans-WOFF/OsloSans-MediumItalic.woff');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'OsloSans';
  src: url('/fonts/OsloSans-WOFF/OsloSans-BoldItalic.woff');
  font-weight: 700;
  font-style: italic;
}

* {
  font-family: 'OsloSans', Helvetica, Arial, sans-serif;
}

:root {
  line-height: 1.5;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --grid-template-student-columns: minmax(180px, 25%) auto;
  --grid-template-group-columns: repeat(auto-fit, minmax(50px, 150px));
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  margin-bottom: 0.3em;
}

a {
  cursor: pointer;
  text-decoration-line: none;
  text-decoration-thickness: 0px;
  text-underline-offset: 0px;
  text-decoration-color: from-font;
  transition:
    text-decoration-thickness 0.2s ease-in,
    text-underline-offset 0.2s ease-in,
    text-decoration-color 0.8s ease-in;
}

a:hover {
  text-decoration-line: underline;
  text-decoration-thickness: 3px;
  text-underline-offset: 4px;
  text-decoration-color: var(--bs-primary-hover);
}

#app {
  max-width: none;
  padding: 0;
}

.link-button {
  background-color: transparent;
  border: 1px solid var(--bs-primary);
  cursor: pointer;
  padding: 4px 8px 3px 8px;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  font-size: 1em;
  transition:
    background-color 0.2s ease-in,
    color 0.2s ease-in;
}

.link-button:hover {
  text-decoration: none;
  background-color: var(--bs-primary-hover);
  color: var(--bs-light) !important;
}

.student-grid-row {
  display: grid;
  grid-template-columns: var(--grid-template-student-columns);
  gap: 1rem;
  padding: 0.5rem 1rem;
  align-items: center;
  justify-items: start;
  border-bottom: 1px solid #dee2e6;
}

.student-grid-row.header {
  background-color: var(--bs-light);
  border-top-right-radius: inherit;
  border-top-left-radius: inherit;
  align-items: start;
}

.user-grid-row {
  display: grid;
  grid-template-columns: 4fr 4fr 2fr;
  column-gap: 1rem;
  padding: 0.5rem 0.5rem;
  align-items: center;
  justify-items: start;
  border-bottom: 1px solid #dee2e6;
}

.user-grid-row.header {
  background-color: var(--bs-light);
  border-top-right-radius: inherit;
  border-top-left-radius: inherit;
  align-items: start;
}

.group-grid-columns {
  display: grid;
  grid-template-columns: var(--grid-template-group-columns);
  width: 100%;
  gap: 0.5rem;
}

.group-grid-column {
  padding: 0px;
  text-align: left;
  font-size: 0.8em;
}

.group-card-header {
  border-top-right-radius: inherit;
  border-top-left-radius: inherit;
}

.hover-glow {
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.hover-glow:hover {
  filter: drop-shadow(0 0 15px var(--bs-primary-hover));
  transform: scale(1.4);
  background-color: rgba(0, 123, 255, 0.1);
  border-radius: 50%;
}

.mini-button {
  button {
    height: 1.5rem;
    width: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.mini-button.bordered {
  button {
    border: 1px solid rgba(from var(--bs-primary) r g b / 0.3);
    border-radius: 2px;
  }
  :hover {
    border: 1px solid rgba(from var(--bs-primary) r g b / 0.5);
    border-radius: 2px;
  }
}

.rounded button {
  svg {
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
  }
}

.hatched-background {
  background-image: linear-gradient(
    135deg,
    #ededed 25%,
    #fff 25%,
    #fff 50%,
    #ededed 50%,
    #ededed 75%,
    #fff 75%,
    #fff 100%
  );
  background-size: 14.14px 14.14px;
}

mark {
  --mark-color: var(--pkt-color-surface-default-yellow);
  --mark-skew: 0.15em;
  --mark-overlap: 0.2em;
  --mark-height: 70%;

  margin-inline: calc(var(--mark-overlap) * -1);
  padding-inline: var(--mark-overlap);

  background-color: transparent;
  background-image:
    linear-gradient(to bottom right, transparent 50%, var(--mark-color) 50%),
    linear-gradient(var(--mark-color), var(--mark-color)),
    linear-gradient(to bottom right, var(--mark-color) 50%, transparent 50%);
  background-size:
    var(--mark-skew) var(--mark-height),
    calc(100% - var(--mark-skew) * 2) var(--mark-height),
    var(--mark-skew) var(--mark-height);
  background-position:
    left center,
    center,
    right center;
  background-repeat: no-repeat;
  color: inherit;

  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--bs-primary);
    background-color: #ffffff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* Custom container class to match Navbar padding at all breakpoints */
@media (min-width: 1400px) {
  .container-md {
    max-width: 1140px !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }
}
