* {
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-color: #f9f9f9;
  color: #333;
  font-size: clamp(14px, 4vw, 18px); /* Min, Preferred, Max */
}

h1, h2 {
  margin-top: 25px;
  margin-bottom: 10px;
}

ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
  margin-bottom: 20px;
}

li {
  background: #fff;
  margin: 10px 0;
  padding: 8px 12px;
  border-radius: 4px;
  border: 1px solid #ccc;
  display: grid;
  grid-template-columns: 3fr 5fr 2fr auto;
  grid-row-gap: 100px; 
}

.tag {
  background-color: #eee;
  color: #999;
  text-align: center;
  font-size: 0.9em;
  padding: 3px 6px;
}

a {
  color: #333;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 3px;
  transition: text-decoration-thickness 200ms, text-underline-offset 200ms;
}

a:hover {
  text-underline-offset: 5px;
  text-decoration-thickness: 3px;
}

a:visited {
  color: #333;
}

button {
  font-size: 0.8em;
  padding: 6px 10px;
  background-color: #2196F3;
  color: #fff;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

button:hover {
  background-color: #1976D2;
}

.danger-button {
  background-color: rgb(188, 11, 11);
  color: #fff;
}

.danger-button:hover {
  background-color: rgb(127, 7, 7);
  color: #fff;
}

.progress-container {
  padding: 30px 0px 15px 0px;
  width: 100%;
  border: 1px solid #888;
  background-color: #f1f1f1;
  margin: 10px 0;
  position: relative;
}

#slider-value-indicator {
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 5px 10px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.4);
  -webkit-backdrop-filter: saturate(250%);
  backdrop-filter: saturate(250%);
}

.stairs-container {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  margin-bottom: 20px;
}

.rung {
  width: 20%;
  border-top-left-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 5px;
}

.stairs-container > span:nth-child(1) {
  height: 30px;
  background-color: rgb(229, 50, 43);
}
.stairs-container > span:nth-child(2) {
  height: 70px;
  background-color: rgb(159, 113, 202);
}
.stairs-container > span:nth-child(3) {
  height: 100px;
  background-color: rgb(86, 174, 232);
}
.stairs-container > span:nth-child(4) {
  height: 150px;
  background-color: rgb(241, 249, 97);
}
.stairs-container > span:nth-child(5) {
  height: 190px;
  background-color: rgb(160, 207, 106);
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 6px; 
  background: #04AA6D;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 6px; 
  background: #04AA6D;
  cursor: pointer;
}
